.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
  
*{
    margin: 0;
    padding: 0;
}
/* navbar styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.nav-title{
    color: rgb(14,14,14);
    font-size: 30px;
    font-weight: 700;
}
nav ul li{
    list-style: none;
}
.btn{
    padding: 10px ;
    color: rgb(0,106,80);
    border-color: rgb(0,106,80);
    border-radius: 7px;
}
.btn:hover{
    background-color: rgb(156, 158, 157);
}
/* banner styles */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(198,228,214);
    margin: 20px 0px; 
    padding: 20px 70px;
    border-radius: 12px; 
}
.banner-title{
    color: rgba(14, 14, 14, 0.5);
    font-size: 25px;
    font-weight: 400;
    line-height: 27px;
}
.banner-vision{
    color: rgb(14, 14, 14);
    font-size: 45px;
    font-weight: 600;
    line-height: 60px;
}
.btn-explore{
    padding:12px ;
    border-color: rgb(119, 109, 109);
    background-color: rgb(0,106,80);
    border-radius: 7px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 10px;

}
.btn-explore:hover{
    background-color: rgb(75, 77, 76);
}
div ul li{
    list-style: none;
}
.banner-image{
    height: 350px;
    width: 390px;
}
/* vision styles */
.vision-title{
    color: rgb(14, 14, 14);
    font-size: 30px;
    font-weight: 600;
    line-height: 42px;
}
.vision-details{
    color:  rgb(75, 77, 76);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin: 22px 0px;
}
.vision-obectives{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}
.digital{
    border: 1px solid rgba(84, 144, 245, 0.2);
    border-radius: 12px;
    background: rgba(84, 144, 245, 0.2);
    padding: 30px;
    /* margin-right: 60px; */
}
.green{
    border: 1px solid  rgb(165, 228, 198);
    border-radius: 12px;
    background: rgb(165, 228, 198);
    padding: 42px;
    /* margin-right: 60px; */
}
.modern{
    border: 1px solid rgb(247, 235, 207);
    border-radius: 12px;
    background: rgb(247, 235, 207);
    padding: 30px 40px;
}
.btn1{
    padding: 10px 20px;
    border-radius: 7px;
    background: rgb(84, 144, 245);
    color: aliceblue;
}
.btn2{
    padding: 10px 20px;
    border-radius: 7px;
    background: rgb(9, 161, 92);
    color: aliceblue;
}
.btn3{
    padding: 10px 20px;
    border-radius: 7px;
    background: rgb(255, 194, 57);
    color: aliceblue;
}
.btn1:hover{
    background-color: rgb(75, 77, 76);
}
.btn2:hover{
    background-color: rgb(75, 77, 76);
}
.btn3:hover{
    background-color: rgb(75, 77, 76);
}
.title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 19px;
    font-weight: 600;
    line-height: 20px;
    padding: 10px 0px;
}
.details{
    color: rgba(14, 14, 14, 0.7);
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    padding-bottom: 10px;
}
/* gob styles */
.gob{
    margin-bottom: 20px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 13px;
    background: rgb(240, 232, 232);
    padding: 35px;
}
.gob-details{
    background-image: url('../images/quote-bg.png');
    background-repeat: no-repeat;
    background-position: top left;
    color:  rgb(75, 77, 76);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}
.gob-name{
    color: rgb(14, 14, 14);
    font-size: 26px;
    font-weight: 500;
    line-height: 42px;
    padding-top: 10px;
}
/* news section */
.satelite{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 13px;
    background: rgb(240, 232, 232);
    padding:30px 40px;
}
.news-description{
    padding-left: 50px;
}
.news-image{
    border-radius: 10px;
    height: 190px;
    width: 280px;
}
.news-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 30px;
    font-weight: 600;
    line-height: 35px;
}
.news-details{
    color:  rgb(75, 77, 76);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}
.btn4{
    padding: 10px 20px;
    border-radius: 7px;
    background: rgb(0, 106, 80);
    color: aliceblue;
}
.btn4:hover{
    background-color: rgb(75, 77, 76);
}
.satelite1{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 13px;
    background: rgb(240, 232, 232);
    padding:30px 30px;
}
.news-description1{
    padding-left: 24px;
    padding-right: 35px;
}
.news-image1{
    /* padding-left: 10px; */
    border-radius: 10px;
    height: 190px;
    width: 280px;
}